<%- include('partials/header'); -%>
<h1>Contact</h1>
<p> <%= contactText %>  </p>
<p> You can check my github <a href="https://github.com/brkunver">from here</a> </p>
<%- include('partials/footer'); -%>
